apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: shashmitha-react   # ✅ changed to match Deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80        # ✅ match containerPort (not 3007)
